<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <select class="form-control" name="projectName">
        <option th:value="springBootWeb" th:text="springBootWeb"></option>
        <option th:value="springBootWeb" th:text="springBootWeb"></option>
        <option th:value="springBootWeb" th:text="springBootWeb"></option>
        <option th:value="springBootWeb" th:text="springBootWeb"></option>
    </select>
    <input type="submit"/>
</form>

</body>
</html>